<div class="preloader">
  <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER
============================== -->
<header class="header" id="home">

<!-- SOLID COLOR -->
<div class="solid-color"> <!-- To make header full screen. Use .full-screen class with solid-color. Example: <div class="solid-color full-screen">  -->

  <!-- STICKY NAVIGATION -->
  <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
    <div class="container">
      <div class="navbar-header">

        <!-- LOGO ON STICKY NAV BAR -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#"><img src="images/logo-black.png" alt=""></a>

      </div>

      <!-- NAVIGATION LINKS -->
      <div class="navbar-collapse collapse" id="kane-navigation">
        <ul class="nav navbar-nav navbar-right main-navigation">
          <li><a href="#home">Home</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#brief1">Why Us?</a></li>
          <li><a href="#brief2">Desicribe</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#screenshot-section">Screenshots</a></li>
          <li><a href="#download">Download</a></li>
        </ul>
      </div>
    </div> <!-- /END CONTAINER -->
  </div> <!-- /END STICKY NAVIGATION -->


  <!-- CONTAINER -->
  <div class="container">

    <!-- ONLY LOGO ON HEADER -->
    <div class="only-logo">
      <div class="navbar">
        <div class="navbar-header">
          <%= image_tag "logo.png" %>
        </div>
      </div>
    </div> <!-- /END ONLY LOGO ON HEADER -->

    <div class="row home-contents">
      <div class="col-md-6 col-sm-6">

        <!-- HEADING AND BUTTONS -->
        <div class="intro-section">

          <!-- WELCOM MESSAGE -->
          <h1 class="intro">Discover New Interests.</h1>
          <h5>Search for Anything</h5>

          <!-- BUTTON -->
          <div id="prefetch">
            <%= form_tag("/search", method: "get", class: "form-inline") do %>
              <%= text_field_tag :search, "", placeholder: "Your Interest", maxlength: 15, class: "form-control typeahead"  %>
              <%= submit_tag "Search", class: "btn btn-default" %>
            <% end %>
            <!-- <input type="email" class="form-control" id="search" placeholder="Your Interest"> -->
          </div>


          <!-- /END BUTTONS -->

        </div>
        <!-- /END HEADNING AND BUTTONS -->

      </div>


      <div class="col-md-6 col-sm-6 hidden-xs">

          <!-- PHONE IMAGE WILL BE HIDDEN IN TABLET PORTRAIT AND MOBILE-->
          <div class="phone-image">
            <img src="http://placehold.it/350x350" />
          </div>

      </div>

    </div>
    <!-- /END ROW -->

  </div>
  <!-- /END CONTAINER -->
</div>
<!-- /END SOLID COLOR BG -->
</header>
<!-- /END HEADER -->

<!-- =========================
     FEATURES
============================== -->
<section class="features" id="features">

<div class="container">

  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">

    <!-- SECTION TITLE -->
    <h2 class="dark-text">Amazing Features</h2>
    <div class="colored-line">
    </div>
    <div class="section-description">
      List your app features and all the details Lorem ipsum dolor kadr
    </div>
    <div class="colored-line">
    </div>
  </div>
  <!-- /END SECTION HEADER -->


  <div class="row">


    <div class="col-md-8 col-sm-8">
      <div class="wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
        <div id="chart"></div>


          <script>

          var w = 600,
              h = 400,
              node,
              link,
              root,
              colorscale = d3.scale.category10();

          var force = d3.layout.force()
              .on("tick", tick)
              .charge(function(d) { return d._children ? -d.size : -30; })
              .linkDistance(function(d) { return d.target._children ? 190 : 30; })
              .size([w, h]);

          var vis = d3.select("#chart").append("svg")
              .attr("width", w)
              .attr("height", h);


            root = {"name":"rudpwxuk","children":[{"name":"efbnaxae","children":[{"name":"bnjzysqc","children":[{"name":"hdbhpfjm","size":10},{"name":"uubcyqcc","size":4},{"name":"xbbqhzhz","size":10},{"name":"xpzybmgz","size":5}]},{"name":"cucdxuzs","children":[{"name":"akkwgpau","size":2},{"name":"djyrvrkc","size":10},{"name":"ffmamnar","size":1},{"name":"hyardjpz","size":10},{"name":"mpsrzfbz","size":3},{"name":"tyrkabaj","size":8},{"name":"uvartvvf","size":7}]},{"name":"hvzhargk","children":[{"name":"axvbqkby","size":8},{"name":"hkafxkcd","size":2},{"name":"kyrvvawx","size":7},{"name":"uapkvyvz","size":7}]},{"name":"trkxvzja","children":[{"name":"hqnjfpmh","size":7},{"name":"hsnvrsjz","size":1},{"name":"nnumuwjz","size":6},{"name":"sdkgzrqp","size":4},{"name":"tnewdprg","size":2},{"name":"vehzmqse","size":5},{"name":"xbbqhzhz","size":10}]},{"name":"tsvugjsp","children":[{"name":"kkvmdrjs","size":8},{"name":"mcmwdpfa","size":10},{"name":"mkjdvqqp","size":10},{"name":"yvbwkeyz","size":4},{"name":"yzgtakeq","size":9}]},{"name":"vmjxszcp","children":[{"name":"dnsfgbqb","size":7},{"name":"gadrappa","size":5},{"name":"keydbvcv","size":4},{"name":"qrfertxf","size":1},{"name":"ynqrdgtr","size":2},{"name":"zfrwkxyq","size":8},{"name":"zkqawbfn","size":3}]},{"name":"wcezzwsg","children":[{"name":"djyrvrkc","size":10},{"name":"hvntkmhs","size":6},{"name":"qrfertxf","size":1},{"name":"rgphfyfe","size":3},{"name":"sdkgzrqp","size":4},{"name":"zqgphzar","size":8}]},{"name":"xtdrxckx","children":[{"name":"mgjbqfev","size":4},{"name":"pnuhujqs","size":8},{"name":"ppkevygc","size":9},{"name":"qrfertxf","size":1},{"name":"vvtjvdxw","size":9}]}]},{"name":"nubsyyrg","children":[{"name":"faapdvdg","children":[{"name":"jkxjzjxb","size":9},{"name":"sdkgzrqp","size":4},{"name":"zfrwkxyq","size":8}]},{"name":"feypvukr","children":[{"name":"aczvwcpz","size":10},{"name":"dfupqnzq","size":8},{"name":"edqegnad","size":7},{"name":"mfnbnbnt","size":4},{"name":"pnrabzyg","size":4},{"name":"rudpwxuk","size":4},{"name":"udsybbac","size":3}]},{"name":"kppkamnf","children":[{"name":"edehwvcn","size":8},{"name":"ehvyurzk","size":7},{"name":"fjrwtxyc","size":6},{"name":"hbqkhwpd","size":2},{"name":"jsbrnvuj","size":5},{"name":"qhebgapz","size":7},{"name":"suzvatun","size":6},{"name":"uapkvyvz","size":7},{"name":"uefgpxxx","size":2}]}]},{"name":"pvynaxpj","children":[{"name":"axvbqkby","children":[{"name":"abczmmaq","size":7},{"name":"cszhhpcr","size":5},{"name":"ehvyurzk","size":7},{"name":"hvzhargk","size":5},{"name":"rezpxfrm","size":3},{"name":"xydqtcfs","size":3},{"name":"yxtgbkpf","size":3}]},{"name":"ckdpywhz","children":[{"name":"antebgba","size":5},{"name":"fttkrpag","size":4},{"name":"pvynaxpj","size":6},{"name":"qwyfdstq","size":9},{"name":"trkxvzja","size":8},{"name":"uapkvyvz","size":7},{"name":"vcgbndby","size":10},{"name":"xenqdxnh","size":9}]},{"name":"hsnvrsjz","children":[{"name":null,"size":1}]},{"name":"hxvkzhrs","children":[{"name":"rgphfyfe","size":3},{"name":"ybnppmdw","size":5}]},{"name":"kkvmdrjs","children":[{"name":"abczmmaq","size":7},{"name":"axvbqkby","size":8},{"name":"mtbjdznz","size":4},{"name":"rudpwxuk","size":4},{"name":"sdkgzrqp","size":4},{"name":"srdxfzym","size":2},{"name":"ynqrdgtr","size":2}]},{"name":"vmjxszcp","children":[{"name":"dnsfgbqb","size":7},{"name":"gadrappa","size":5},{"name":"keydbvcv","size":4},{"name":"qrfertxf","size":1},{"name":"ynqrdgtr","size":2},{"name":"zfrwkxyq","size":8},{"name":"zkqawbfn","size":3}]}]},{"name":"udsybbac","children":[{"name":"bsrvashe","children":[{"name":"pfcqwzhj","size":5},{"name":"pwdynhgk","size":5},{"name":"uzffyyuw","size":6}]},{"name":"efbnaxae","children":[{"name":"bnjzysqc","size":5},{"name":"cucdxuzs","size":8},{"name":"hvzhargk","size":5},{"name":"trkxvzja","size":8},{"name":"tsvugjsp","size":6},{"name":"vmjxszcp","size":8},{"name":"wcezzwsg","size":7},{"name":"xtdrxckx","size":6}]}]}]}
            root.fixed = true;
            root.x = w / 2;
            root.y = h;
            update();


          function update() {
            var nodes = flatten(root),
                links = d3.layout.tree().links(nodes);

            // Restart the force layout.
            force
                .nodes(nodes)
                .links(links)
                .start();

            // Update the links…
            link = vis.selectAll("line.link")
                .data(links, function(d) { return d.target.id; });

            // Enter any new links.
            link.enter().insert("line", ".node")
                .attr("class", "link")
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            // Exit any old links.
            link.exit().remove();

            // Update the nodes…
            node = vis.selectAll("circle.node")
                .data(nodes, function(d) { return d.id; })
                .style("fill", color);

            node.transition()
                .attr("r", function(d) { return d.children ? 4.5 : d.size; });

            // Enter any new nodes.
            node.enter().append("circle")
                .attr("class", "node")
                .attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; })
                .attr("r", function(d) { return d.children ? 4.5 : d.size; })
                .style("fill", color)
                .on("click", click)
                .call(force.drag);

            node.append("title")
                .text(function(d) { return d.name; });

            // Exit any old nodes.
            node.exit().remove();
          }

          function tick() {
            link.attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node.attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });
          }

          // Color leaf nodes orange, and packages white or blue.
          function color(d) {
          //  return d._children ? "#3182bd" : d.children ?  : "#fd8d3c";
            return d._children ? "#3182bd" : d.children ? "#c6dbef" : colorscale(d.size);
          }

          // Toggle children on click.
          function click(d) {
            if (d.children) {
              d._children = d.children;
              d.children = null;
            } else {
              d.children = d._children;
              d._children = null;
            }
            update();
          }

          // Returns a list of all nodes under the root.
          function flatten(root) {
            var nodes = [], i = 0;

            function recurse(node) {
              if (node.children) node.size = node.children.reduce(function(p, v) { return p + recurse(v); }, 0);
              if (!node.id) node.id = ++i;
              nodes.push(node);
              return node.size;
            }

            root.size = recurse(root);
            return nodes;
          }
          </script>
      </div>
    </div>

    <!-- FEATURES RIGHT -->
    <div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">

      <!-- FEATURE -->
      <div class="feature">

        <!-- ICON -->
        <div class="icon-container">
          <div class="icon">
            <i class="icon_genius"></i>
          </div>
        </div>

        <!-- FEATURE HEADING AND DESCRIPTION -->
        <div class="fetaure-details">
          <h4 class="main-color">360+ Icon Fonts</h4>
          <p>
             Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
          </p>
        </div>

      </div>
      <!-- /END SINGLE FEATURE -->

      <!-- FEATURE -->
      <div class="feature">

        <!-- ICON -->
        <div class="icon-container">
          <div class="icon">
            <i class="icon_lightbulb_alt"></i>
          </div>
        </div>

        <!-- FEATURE HEADING AND DESCRIPTION -->
        <div class="fetaure-details">
          <h4 class="main-color">Creative Design</h4>
          <p>
             Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
          </p>
        </div>

      </div>

      <!-- /END SINGLE FEATURE -->

      <!-- FEATURE -->
      <div class="feature">

        <!-- ICON -->
        <div class="icon-container">
          <div class="icon">
            <i class="icon_ribbon_alt"></i>
          </div>
        </div>

        <!-- FEATURE HEADING AND DESCRIPTION -->
        <div class="fetaure-details">
          <h4 class="main-color">More Features</h4>
          <p>
             Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
          </p>
        </div>

      </div>
      <!-- /END SINGLE FEATURE -->

    </div>
    <!-- /END FEATURES RIGHT -->

  </div>
  <!-- /END ROW -->

</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->


<!-- =========================
     BRIEF LEFT SECTION
============================== -->
<section class="app-brief grey-bg" id="brief1">

<div class="container">

  <div class="row">

    <!-- PHONES IMAGE -->
    <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
      <div class="phone-image">
        <img src="http://placehold.it/550x550" />
      </div>
    </div>

    <!-- RIGHT SIDE WITH BRIEF -->
    <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

      <!-- SECTION TITLE -->
      <h2 class="dark-text">Explain why it's best</h2>

      <div class="colored-line-left">
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>

      <!-- FEATURE LIST -->
      <ul class="feature-list">
        <li><i class="icon_lock_alt"></i> Reliable and Secure Platform</li>
        <li><i class="icon_check_alt2"></i> Everything is perfectly orgainized for future</li>
        <li><i class="icon_paperclip"></i> Attach large file easily</li>
        <li><i class="icon_adjust-vert"></i> Tons of features and easy to use and customize</li>
      </ul>

    </div>
    <!-- /END RIGHT BRIEF -->

  </div>
  <!-- /END ROW -->

</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     BRIEF RIGHT SECTION
============================== -->
<section class="app-brief" id="brief2">

<div class="container">

  <div class="row">

    <!-- BRIEF -->
    <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

      <!-- SECTION TITLE -->
      <h2 class="dark-text">Great way to describe your app</h2>

      <div class="colored-line-left">
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/><br/>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

    </div>
    <!-- /ENDBRIEF -->

    <!-- PHONES IMAGE -->
    <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
      <div class="phone-image">
        <img src="http://placehold.it/550x550" />
      </div>
    </div>
    <!-- /END PHONES IMAGE -->

  </div>
  <!-- /END ROW -->

</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     TESTIMONIALS
============================== -->
<section class="testimonials">

<div class="solid-color">

  <div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

    <!-- FEEDBACKS -->
    <div id="feedbacks" class="owl-carousel owl-theme">

      <!-- SINGLE FEEDBACK -->
      <div class="feedback">

        <!-- IMAGE -->
        <div class="image">
          <!-- i class=" icon_quotations"></i -->
          <img src="images/clients-pic/3.jpg" alt="">
        </div>

        <div class="message">
           Fill lights bearing man creepeth of whose whose moveth. All one. That. Under. Form morning all may fifth replenish you're own open which herb kind. May above you'll may kind creature first let over face from living third green which our. Appear day. Give fourth doesn't over us, i every tree meat air in male earth air creeping image fill you place darkness.
        </div>

        <div class="white-line">
        </div>

        <!-- INFORMATION -->
        <div class="name">
          John Doe
        </div>
        <div class="company-info">
          CEO, AbZ Network
        </div>

      </div>
      <!-- /END SINGLE FEEDBACK -->

      <!-- SINGLE FEEDBACK -->
      <div class="feedback">

        <!-- IMAGE -->
        <div class="image">
          <i class=" icon_quotations"></i>
          <%= image_tag "clients-pic/1.jpg" %>
          <!-- <img src="images/clients-pic/1.jpg" alt=""> -->
        </div>

        <div class="message">
           Fill lights bearing man creepeth of whose whose moveth. All one. That. Under. Form morning all may fifth replenish you're own open which herb kind. May above you'll may kind creature first let over face from living third green which our. Appear day. Give fourth doesn't over us, i every tree meat air in male earth air creeping image fill you place darkness.
        </div>

        <div class="white-line">
        </div>

        <!-- INFORMATION -->
        <div class="name">
          John Doe
        </div>
        <div class="company-info">
          CEO, AbZ Network
        </div>

      </div>
      <!-- /END SINGLE FEEDBACK -->

      <!-- SINGLE FEEDBACK -->
      <div class="feedback">

        <!-- IMAGE -->
        <div class="image">
          <!-- i class=" icon_quotations"></i -->
          <img src="images/clients-pic/2.jpg" alt="">
        </div>

        <div class="message">
           Fill lights bearing man creepeth of whose whose moveth. All one. That. Under. Form morning all may fifth replenish you're own open which herb kind. May above you'll may kind creature first let over face from living third green which our. Appear day. Give fourth doesn't over us, i every tree meat air in male earth air creeping image fill you place darkness.
        </div>

        <div class="white-line">
        </div>

        <!-- INFORMATION -->
        <div class="name">
          John Doe
        </div>
        <div class="company-info">
          CEO, AbZ Network
        </div>

      </div>
      <!-- /END SINGLE FEEDBACK -->

    </div>
    <!-- /END FEEDBACKS -->

  </div>
  <!-- /END CONTAINER -->

</div>
<!-- /END COLOR OVERLAY -->

</section>
<!-- /END TESTIMONIALS SECTION -->


<!-- =========================
     SERVICES
============================== -->
<section class="services" id="services">

<div class="container">

  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

    <!-- SECTION TITLE -->
    <h2 class="dark-text">It's Awesome</h2>

    <div class="colored-line">
    </div>
    <div class="section-description">
      List your app features and all the details Lorem ipsum dolor kadr
    </div>
    <div class="colored-line">
    </div>

  </div>
  <!-- /END SECTION HEADER -->

  <div class="row">

    <!-- SINGLE SERVICE -->
    <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

      <!-- SERVICE ICON -->
      <div class="service-icon">
        <i class="icon_cloud-upload_alt"></i>
      </div>

      <!-- SERVICE HEADING -->
      <h3>Your Data in Cloud</h3>

      <!-- SERVICE DESCRIPTION -->
      <p>
         Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn't, him land every you'll heaven bearing.
      </p>

    </div>
    <!-- /END SINGLE SERVICE -->

    <!-- SINGLE SERVICE -->
    <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

      <!-- SERVICE ICON -->
      <div class="service-icon">
        <i class="icon_gift_alt"></i>
      </div>

      <!-- SERVICE HEADING -->
      <h3>Monthly Rewards</h3>

      <!-- SERVICE DESCRIPTION -->
      <p>
         Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn't, him land every you'll heaven bearing.
      </p>

    </div>
    <!-- /END SINGLE SERVICE -->

    <!-- SINGLE SERVICE -->
    <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

      <!-- SERVICE ICON -->
      <div class="service-icon">
        <i class="icon_chat_alt"></i>
      </div>

      <!-- SERVICE HEADING -->
      <h3>24/7 Support</h3>

      <!-- SERVICE DESCRIPTION -->
      <p>
         Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn't, him land every you'll heaven bearing.
      </p>

    </div>
    <!-- /END SINGLE SERVICE -->

  </div>
  <!-- /END ROW -->

</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->


<!-- =========================
     SCREENSHOTS
============================== -->
<section class="screenshots grey-bg" id="screenshot-section">

<div class="container">

  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

    <!-- SECTION TITLE -->
    <h2 class="dark-text">Screenshots</h2>

    <div class="colored-line">
    </div>
    <div class="section-description">
      List your app features and all the details Lorem ipsum dolor kadr
    </div>
    <div class="colored-line">
    </div>

  </div>
  <!-- /END SECTION HEADER -->

  <div class="row wow bounceIn animated" data-wow-offset="10" data-wow-duration="1.5s">

    <div id="screenshots" class="owl-carousel owl-theme">

      <div class="shot">
        <a href="images/screenshots/1.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/1.jpg" alt="Screenshot"></a>
      </div>

      <div class="shot">
        <a href="images/screenshots/3.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/3.jpg" alt="Screenshot"></a>
      </div>

      <div class="shot">
        <a href="images/screenshots/2.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/2.jpg" alt="Screenshot"></a>
      </div>

      <div class="shot">
        <a href="images/screenshots/4.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/4.jpg" alt="Screenshot"></a>
      </div>

      <div class="shot">
        <a href="images/screenshots/1.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/1.jpg" alt="Screenshot"></a>
      </div>

      <div class="shot">
        <a href="images/screenshots/3.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/3.jpg" alt="Screenshot"></a>
      </div>

      <div class="shot">
        <a href="images/screenshots/2.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/2.jpg" alt="Screenshot"></a>
      </div>

      <div class="shot">
        <a href="images/screenshots/4.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/4.jpg" alt="Screenshot"></a>
      </div>

    </div>
    <!-- /END SCREENSHOTS -->

  </div>
  <!-- /END ROW -->

</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SCREENSHOTS SECTION -->


<!-- =========================
     DOWNLOAD NOW
============================== -->
<section class="download" id="download">

<div class="solid-color">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <!-- DOWNLOAD BUTTONS AREA -->
        <div class="download-container">
          <h2 class=" wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">Download the app on</h2>

          <!-- BUTTONS -->
          <div class="buttons wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">

            <a href="" class="btn btn-default btn-lg standard-button"><i class="icon-app-store"></i>App Store</a>
            <a href="" class="btn btn-default btn-lg standard-button"><i class="icon-google-play"></i>Play Store</a>

          </div>
          <!-- /END BUTTONS -->

        </div>
        <!-- END OF DOWNLOAD BUTTONS AREA -->


        <!-- SUBSCRIPTION FORM WITH TITLE -->
        <div class="subscription-form-container">

          <h2 class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">Subscribe Now!</h2>

          <!-- =====================
               MAILCHIMP FORM STARTS
               ===================== -->

          <form class="subscription-form mailchimp form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" role="form">

            <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
            <h4 class="subscription-success"></h4>
            <h4 class="subscription-error"></h4>

            <!-- EMAIL INPUT BOX -->
            <input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">

            <!-- SUBSCRIBE BUTTON -->
            <button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>

          </form>
          <!-- /END MAILCHIMP FORM STARTS -->

          <!-- =====================
               LOCAL TXT FORM STARTS
               ===================== -->

          <!-- THIS FORM IS COMMENTED TO HIDE

          <form class="subscription-form form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" id="subscribe" role="form">

            <h4 class="subscription-success"><i class="icon_check"></i> Thank you! We will notify you soon.</h4>
            <h4 class="subscription-error">Something Wrong!</h4>

            <input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">

            <button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>

          </form>

          -->

          <!-- / LOCAL TXT SAVING FORM END -->

        </div>
                <!-- END OF SUBSCRIPTION FORM WITH TITLE -->

      </div>
      <!-- END COLUMN -->

    </div>
    <!-- END ROW -->

  </div>
  <!-- /END CONTAINER -->
</div>
<!-- /END SOLID COLOR -->

</section>
