<div class="preloader">
  <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER
============================== -->
<header class="header" id="home">

<!-- SOLID COLOR -->
<div class="solid-color"> <!-- To make header full screen. Use .full-screen class with solid-color. Example: <div class="solid-color full-screen">  -->

  <!-- STICKY NAVIGATION -->
  <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
    <div class="container">
      <div class="navbar-header">


        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" id="logo-small" href="#home">Node<br>Hopper</a>

      </div>


      <div class="navbar-collapse collapse" id="kane-navigation">
        <ul class="nav navbar-nav navbar-right main-navigation">
          <li><a href="#home">Home</a></li>
          <li><a href="#search">Search</a></li>
          <li><a href="#explore">Explore</a></li>
          <li><a href="#compare">Compare</a></li>
        </ul>
      </div>
    </div>
  </div>


  <!-- CONTAINER -->
  <div class="container">

    <!-- ONLY LOGO ON HEADER -->
    <div class="only-logo">
      <div class="navbar">
        <div class="navbar-header">
         <div id="logo"></div>
        </div>
      </div>
    </div> <!-- /END ONLY LOGO ON HEADER -->

    <div class="row home-contents">
      <div class="col-md-6 col-sm-6">

        <!-- HEADING AND BUTTONS -->
        <div class="intro-section">

          <!-- WELCOM MESSAGE -->
          <h1 class="intro">Discover New Interests.</h1>
        </div>

      </div>

      <div id="nav-buttons">
      <a href="#download" class="btn btn-default btn-lg"><i class="icon-app-download"></i>Search</a>
      <a href="#download" class="btn btn-default btn-lg"><i class="icon-app-download"></i>Explore</a>
      <a href="#download" class="btn btn-default btn-lg"><i class="icon-app-download"></i>Compare</a>
    </div>


    </div>
    <!-- /END ROW -->

  </div>
  <!-- /END CONTAINER -->
</div>
<!-- /END SOLID COLOR BG -->
</header>
<!-- /END HEADER -->

<!-- =========================
     FEATURES
============================== -->
<section class="features" id="search">

<div class="container ">

  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">

    <!-- SECTION TITLE -->
    <h2 class="dark-text">Search</h2>
    <div class="colored-line">
    </div>
    <div class="section-description">
      Search Multiple Interests
    </div>
    <div class="colored-line">
    </div>
  </div>
  <!-- /END SECTION HEADER -->
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div id="d3_1">

        <%= form_tag("/search", method: "get", class: "form-inline") do %>
          <ul id="multi_search">
            <li id="d3_1_error" style="display: none">Hmm, Please Try Again</li>
          </ul>
          <%= text_field_tag :d3_1_search, "", placeholder: "Your Interest", class: "form-control typeahead"  %>
          <%= submit_tag "Search", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-3 col-lg-3">
      <div style="display:none" class="rec">
        <h3>Your Top Recommendations</h3>
        <ul id="reclist"></ul>
      </div>
    </div>
   <div class="col-md-6 col-sm-6 col-lg-6">
    <div id="charts"></div>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3">
      <table class="color-legend table">
        <thead>
          <tr>
          </tr>
          </thead>
          <tbody id="legend"></tbody>
        </table>
  </div>

  </div>
  <!-- /END ROW -->

</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->


<!-- =========================
     BRIEF LEFT SECTION
============================== -->
<section class="features" id="explore">

<div class="container">

  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">

    <!-- SECTION TITLE -->
    <h2 class="dark-text">Explore</h2>
    <div class="colored-line">
    </div>
    <div class="section-description">
      Interactive Force Layout
    </div>
    <div class="colored-line">
    </div>
  </div>
  <!-- /END SECTION HEADER -->
  <div class="row">
    <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset 4">
      <div id="d3_2">
        <ul id="multi_search_2">
            <li id="d3_2_error" style="display: none">Hmm, Please Try Again</li>
          </ul>
            <%= form_tag("/search", method: "get", class: "form-inline form") do %>
              <%= text_field_tag :search, "", placeholder: "Your Interest", maxlength: 15, class: "form-control typeahead"  %>
              <%= submit_tag "Search", class: "btn btn-default" %>
            <% end %>
          </div>
    </div>
  </div>
  <div class="row">


    <div class="col-md-12 col-sm-12 col-lg-12">


        <div id="d3-2-chart"></div>

    </div>

  </div>
  <!-- /END ROW -->

</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     BRIEF RIGHT SECTION
============================== -->
<section class="features" id="compare">

<div class="container" id="accordion">

  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">

    <!-- SECTION TITLE -->
    <h2 class="dark-text">Compare</h2>
    <div class="colored-line">
    </div>
    <div class="section-description">
      Venn Diagram
    </div>
    <div class="colored-line">
    </div>

  </div>
  <!-- /END SECTION HEADER -->
  <div class="row">
    <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
      <div id="d3_3">
        <%= form_tag("/search", method: "get", class: "form-inline") do %>
        <ul id="multi_search_3">
        </ul>
          <%= text_field_tag :d33, "", placeholder: "Your Interest", class: "form-control typeahead"  %>
          <%= submit_tag "Search", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="row">


    <div class="col-md-12 col-sm-12 col-lg-12">

      <div id="d3-3-chart"></div>

    </div>

  </div>
  <!-- /END ROW -->

</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     About
============================== -->
<section class="testimonials" id="about">

<div class="solid-color">

  <div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

    <p>
      DBC Final Project - March 2014
    </p>
    <ul class="list-inline">
      <li>Kenny Luk</li>
      <li>Kelsey Ando</li>
      <li>Cameron Johnson</li>
      <li>Dan Benson</li>
    </ul>

  </div>
  <!-- /END CONTAINER -->

</div>
<!-- /END COLOR OVERLAY -->

</section>
<!-- /END TESTIMONIALS SECTION -->






